h2 {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 17px;
}
.column {
  margin-left: 10%;
    width: 40%;
    margin-bottom: 16px;
  }
  .column2 {
    
    width: 40%;
    margin-bottom: 16px;
  }
  .card {
  background-color: rgb(198, 241, 241);
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      transition: 0.3s;
      border-radius: 10px;
      width: 70%;
      margin: auto;
  }
  .about-section {
    padding: 25px;
    text-align: center;
    background-color: #faffff;
    color: rgb(8, 8, 8);
  }
  p {
    text-align: center;
  }
  .container {
    padding: 0 16px;
  }
  .title {
    color: grey;
  }  
  .button:hover {
    background-color: #555;
  }